@charset "utf-8";
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #ffeead;
    font-style: arial;
}

html, body {
  background-color: #ffeead;
  margin: 10px;
  height: 100vh;

}
h3 {
    font-style: arial;

}
.container > div:nth-child(1n) {
  background-color: #03a3df;
}

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container > div:nth-child(2n) {
      background-color: #444444;
}

.container > div:nth-child(4n) {
      background-color: #ecb722;
}

.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:200px 50px 500px ;
    height: 100%;
}
.header {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr 1fr;
  vertical-align: baseline;
}
.address {
  width: 33.3%;
  text-align: right;
  font-weight: bold;
}
.logo {
  align-items: center;
  margin: 0 100px 0;
}
div .logo img {
  width: 350px;

}
.open-hours {
  width: 33.3%;
  font-weight: bold;
}

.menu {
  grid-column: 1/-1;
}

.menu div a{
  display: grid;
  text-decoration: none;
  color: #ffeead;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 140px;
  padding: 20px;
}
.menu div {
text-align: center;}
.hawkeye {
  position: relative;
  grid-column: 1/-1;
}
.hawkeye .top-quotes img{

  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 500px;
}
.top-quotes q {
position: absolute;
top: 100px;
left: 60%;
font-size: 30px;
font-style: arial;

}
.top-quotes p {
  position: absolute;
  top: 170px;
  left: 62%;
  font-size: 30px;
  font-style: arial;
}
ul {
  list-style: none;
  border: 1px solid black;
  padding: 30px;
  margin-right: 50px;

}

.video-title {
  text-align: left;
  margin-top: 50px;
}
.instructors-name {
  text-align: center;
  text-decoration: underline;
  font-weight: 700;
  font-size: 30px;
}
.instructors-list img {
  position: relative;
  left: 32%;
}

footer {
  grid-column: 1/-1;
  position: relative;
  opacity: .7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  bottom: auto;



}
div .footer img {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
div .footer-address img {
  width: 300px;
  height: auto;
  position: absolute;
  top: 91px;
  left: 160px;
}
.footer-contact {
position: absolute;
top: 30px;
left: 45%;
}
.phone {
  border-top: 2px solid #ffeead;
  padding-top: 20px;
}
div .footer-link h3 {
  font-size: 25px:

}
div .footer-link {
  position: absolute;
  top: 10px;
  right: 160px;
  font-size: 25px;
}
div .footer-link a {
  text-decoration: none;
  color: #ffeead;
}
.footer-top {
  border-bottom: 2px solid #ffeead;
}
.menu a:hover {
  color: red;
}
aside a:hover {
  color: red;
}
.footer-link a:hover {
  color: red;
}
.container::after{
  content: '';
  display: block;
  clear: both;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: teal;
}
.instructors-list img {
  transform: scale(1);
}
.instructors-list img:hover {
  transform: scale(1.3);
}
p {
  text-align: justify;
}
.back-to-top a:hover {
  color: teal;
}
